[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
solc_version = "0.8.20"
optimizer = true
optimizer_runs = 200
via_ir = false
evm_version = "paris"

[profile.ci]
fuzz = { runs = 10000 }

[rpc_endpoints]
anvil = "http://127.0.0.1:8545"


